{% extends 'plantilla.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h4 class="display-6 text-danger mt-5 mb-4">¿Seguro que quieres eliminar este álbum?</h4>

            <form action="/confirmacion/{{ album.0 }}" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" name="titulo" value="{{ album.1 }}" disabled>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="artista" value="{{ album.2 }}" disabled>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" name="anio" value="{{ album.3 }}" disabled>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-danger">Eliminar Álbum</button>
                </div>
            </form>

            <a href="/" class="btn btn-secondary mt-3">Regresar al Formulario</a>
        </div>
    </div>
{% endblock %}
