{% extends 'plantilla.html' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h4 class="display-5 text-primary mt-5 mb-4">Consulta</h4>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Album</th>
                        <th>Artista</th>
                        <th>Año</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ Albums.0 }}</td>
                        <td>{{ Albums.1 }}</td>
                        <td>{{ Albums.2 }}</td>
                        <td>{{ Albums.3 }}</td>
                        <td>
                            <a href="/editar/{{ Albums.0 }}" class="btn btn-sm btn-primary">Actualizar</a>
                            <a href="/eliminar/{{ Albums.0 }}" class="btn btn-sm btn-danger ms-2">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <a href="/" class="btn btn-secondary mt-3">Regresar al Formulario</a>
        </div>
    </div>
{% endblock %}
